/* search */
.ui-menu{
  z-index: 3000 !important;
}
/* search */

/* watsapp-chat */
.watsapp-chat{
    bottom: 10px;
    /* left: 90%; */
    left:10px;
    position: fixed;
    
}
/* watsapp-chat */


/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    /* text-align: center; */
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 30px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

/* End of Star Rating */


/*comments*/

.comment-section{padding:50px 0px; }

.R-title{color: #ca0516; font-size: 22px;font-weight:700; margin-bottom: 10px; }
.comment-section .media-review{padding:20px 0px;border-bottom:1px solid #ccc;}
.comment-section .media-review:first-child{border-top:1px solid #ccc;}
.comment-section .media .media-user{margin-right: 15px; border-radius: 50%;overflow: hidden; background: rgb(236, 236, 236); width: 77px;height: 77px;  }
.comment-section .media .media-user img{width:100%; height:100%; object-fit: cover;}
.comment-section .media .M-flex{display: flex;justify-content: space-between;}
.comment-section .media .M-flex .title{font-size: 12px; color: #1c1d36;  margin-bottom: 10px;font-weight:400;}
.comment-section .media .M-flex .title span{font-size: 20px;  display: block;font-weight:700;margin-bottom:5px;}
.comment-section .media .description{font-size: 14px;  color: #5b5b5b;margin-bottom: 20px;}
.rating-row ul{list-style:none;display:flex; padding:0 ; margin:0;}
.rating-row ul li{color:#ffc107;font-size:20px;margin:0px 3px;}